@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 24%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    background-color: var(--Very-Dark-Blue);
}

.rating-state,
.thankyou-state {
    background-color: var(--Dark-Blue);
    width: 327px;
    height: 360px;
    border-radius: 16px;
    margin: 155px auto 80px;
    padding: 25px;
}

.rating-state__icon-container,
.rating-state__number-container__number {
    background-color: var(--Medium-Grey);
    color: var(--Light-Grey);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin-bottom: 23px;
    border: none;
}

.rating-state__title,
.thankyou-state__title {
    color: var(--White);
    margin-bottom: 23px;
    font-size: 1.6em;
    font-weight: 700;
    margin-left: 4px;
}

.rating-state__description,
.thankyou-state__paragraph {
    height: 60px;
    color: var(--Light-Grey);
    margin-bottom: 30px;
    margin-left: 4px;
    letter-spacing: -0.5px;
}

.rating-state__number-container {
    width: 341px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.rating-state__number-container__number:hover {
    cursor: pointer;
    background-color: var(--Light-Grey);
    color: var(--White);
}

.rating-state__number-container__number:focus {
    background-color: var(--Orange);
    color: var(--White);
}

.rating-state__button {
    width: 280px;
    height: 45px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 50px;
    color: var(--White);
    background-color: var(--Orange);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 1.07em;
}

.rating-state__button:hover {
    background-color: var(--White);
    color: var(--Orange);
    cursor: pointer;
}

/* Thankyou State */
.thankyou-state {
    display: none;
    flex-direction: column;
    align-items: center;
}

.thankyou-state__image {
    width: 150px;
    margin-bottom: 24px;
}

.thankyou-state__result {
    background-color: var(--Medium-Grey);
    width: 170px;
    height: 36px;
    border-radius: 50px;
    color: var(--Orange);
    text-align: center;
    padding: 8px 0;
    margin-bottom: 30px;
    font-size: .9em;
}

.thankyou-state__paragraph {
    text-align: center;
    line-height: 21px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* Desktop */

@media (min-width:600px) {

    .contianer{
        max-width: 1440px;
        max-height: 800px;
        margin: auto;
    }

    .rating-state,
    .thankyou-state {
        margin: 195px auto;
        width: 410px;
        height: 415px;
        border-radius: 32px;
        padding: 30px 30px 35px 30px;
    }

    .rating-state__icon-container{
        margin-top: 2px;
        margin-bottom: 31px;
    }
    .rating-state__icon-container,
    .rating-state__number-container__number {
        width: 50px;
        height: 50px;
    }

    .rating-state__title{
        margin-bottom: 11px;
    }
    .rating-state__title,
    .thankyou-state__title {
        font-size: 1.9em;
    }

    .rating-state__description{
        margin-bottom: 35px;
    }
    .rating-state__description,
    .thankyou-state__paragraph {
        line-height: 25px;
        font-size: 1.07em;
    }

    .rating-state__number-container{
        margin-bottom: 10px;
    }

    .rating-state__button{
        width: 341px;
    }
    .thankyou-state__result {
        font-size: 1em;
        width: 196px;
    }

}